---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";
---



<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Gallery" description = {SITE_DESCRIPTION} />
	</head>
	<body>
        <Header title="Gallery"/>
		<main>
			<p>
				Photos taken with a Canon EOS 7D and a 24-70mm lens.
			</p>
			<div class="gallery">
				<img src="/compressed/soul-atl.jpeg" alt="a 'Made with Soul in Atlanta' sign found on a random street" />
				<img src="/compressed/just-be-happy.jpeg" alt="a 'Just Be Happy' sign on the front of a store in New York City" />
				<img src="/compressed/coda.jpeg" alt="spiral staircase" />
				<img src="/compressed/nyclunch.jpeg" alt="lunch in Brooklyn, NY" />
				<img src="/compressed/calibeachhouse.jpeg" alt="beachhouse" />
				<img src="/compressed/biloxi.jpeg" alt="waves by the beach in Biloxi, Mississippi" />
				<img src="/compressed/water.jpeg" alt="a view of the waves of Biloxi Beach" />
			</div>
		</main>
	</body>
	<Footer />
</html>


<style>
	p {
		font-size: 0.75em
		color: var(--gray-light)
	}

</style>
	