---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description = {SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello, I'm Anh</h1>
			<p>
				Lover of learning and creating all sorts of things. Aspiring software engineer. Student at Georgia Institute of Technology.
				Currently filming videos for Youtube. 
			</p>
		</main>
	</body>
	<Footer />
</html>
