---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description = {SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello, I'm Anh</h1>
			<p>
				Lover of learning and creating all sorts of things. Aspiring software engineer. Student at Georgia Institute of Technology.
				Currently filming videos for Youtube. 
			</p>

			<p>
				Check out my photos and projects using the links above.
			</p>
			
			<img class="self" src="/compressed/throwback.jpeg" alt="me" />
			<p class="caption"> I love computer science!!</p>
		</main>
	</body>
	<Footer />
</html>

<style>
	body {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
	footer {
		margin-top: auto;
	}
	.self {
		display: block;
		height:500px;
		margin-left: auto;
		margin-right: auto;
	}
	.caption {
		text-align: center;
		font-size: 0.8em;
	}
